<a href="https://colab.research.google.com/github/darshanpatel598/Python-Basics/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python Program for Mr. Harry to automatically reschedule a meeting to the next date whenever it is not held on the current date.

#Sample

#Input a year: 1974
#Input a month [1-12]: 2
#Input a day [1-31]: 15
#The next date is [yyyy-mm-dd] 1974-2-16.

year = int(input())
month = int(input())
day = int(input())

if (year % 400 == 0):
  leap_year = True
elif (year % 100 == 0):
  leap_year = False
elif (year % 4 == 0):
  leap_year = True
else:
  leap_year = False


if month in (1, 3, 5, 7, 8, 10, 12):
  month_length = 31
elif month == 2:
  if leap_year:
    month_length = 29
  else:
    month_length = 28
else:
  month_length = 30

if day < month_length:
  day += 1
else:
  day = 1
  if month == 12:
    month = 1
    year += 1
  else:
    month += 1
print ("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

2024
12
1
The next date is [yyyy-mm-dd] 2024-12-2.

In [ ]:
#Write a Python program to print the following pattern of numbers in n rows to display on art board in maths exhibition.

#Example 1:
#Input:
#4

#Output:
#1

#22

#333

#4444

a=int(input())
for i in range(1,a+1):
    print(i*str(i))

5
1
22
333
4444
55555

In [ ]:
char = input()

if char in "aeiouAEIOU":
  print("Vowel")
else:
  print("Consonant")

e
Vowel

In [ ]:
#In a competition, participants were given a number to sum its digits until it was a single-digit number. So, write a Python program to add the digits of a positive integer repeatedly until the result has a single digit.
#Example 1:
#Input:
#7548
#Output:
#Step-1 Sum: 24
#Step-2 Sum: 6


number = int(input())
# Finding sum
total_sum = 0
step = 1

condition = True

while condition:

    while number:
        total_sum += number%10
        number //= 10

    print("Step-%d Sum: %d" %(step, total_sum))
    number = total_sum
    total_sum = 0
    step += 1
    condition = number > 9

1783
Step-1 Sum: 19
Step-2 Sum: 10
Step-3 Sum: 1

In [ ]:
# Write a Python program to find the closest palindrome from a given string. for closest palindrome
#Input:
#cat
#Output:
#cac

st = input()

new_str = ''

for i in range(0,len(st)):
  if st[i]==st[len(st)-i-1]:
     print("Given word is Palindrom")
     break
  elif i <len(st)/2:
     new_str = st[:len(st)//2] + st[len(st)//2::-1]
     print("closest palindrome is", new_str)
     break

cat
closest palindrome is cac

In [ ]:
# Write a Python program to find the closest palindrome from a given string. for closest palindrome
#Input:
#cat
#Output:
#cac

s = input()
odd=0               #for counter

for i,c in enumerate(s):
   m_index=len(s)-1-i
   if c!=s[m_index]:
      odd+=1

if odd%2==1:
    half=odd//2
    pal="".join (s[i]   if i< half else s[len(s)-1-i] for i in range(len(s)))
    print(pal)
else:
    half=odd//2
    pal="".join((s[i] if i <= half else s[len(s)-1-i] for i in range(len(s))))
    print(pal)

cat
cac

In [ ]:
num=1
num_list=[]
while num != 0:
    num = int(input())
    num_list.append(num)

mean=sum(num_list)/(len(num_list)-1)
print("Average and Sum of the above numbers are:", mean,sum(num_list))

15
16
12
0
Average and Sum of the above numbers are: 14.333333333333334 43

In [ ]:
count = 0
sum = 0.0
number = 1

while number != 0:
        number = int(input())
        sum = sum + number
        count += 1

if count == 1:
        print("Input some numbers")
else:
        print("Average and Sum of the above numbers are:", sum / (count-1), sum)

2
3
4
1
0
Average and Sum of the above numbers are: 2.5 10.0

In [ ]:


num_list=list(input())
new_list=list()
for num in num_list:
  if num is int:
    new_list=list(num)


print(new_list)
print(min(new_list))

1,2,3,4,5

ValueError: invalid literal for int() with base 10: ','

In [ ]:
#Write a Python program to get the smallest number from a list.
num_list = []

while True:
    try:
        num = int(input())
        num_list.append(num)
    except ValueError:
        # Exit the loop if the input is not an integer
        break
print(num_list)
# Print the minimum value in the list
if num_list:
    print(min(num_list))
else:
    print("The list is empty.")

1
6
78
35
92
-98
976
-234
e
[1, 6, 78, 35, 92, -98, 976, -234]
-234

In [ ]:
def smallest_num_in_list( list ):
    min = list[ 0 ]
    for a in list:
    2    if a < min:
            min = a
    return min

lst = eval(input())
print(smallest_num_in_list(lst))

IndentationError: expected an indented block after 'for' statement on line 3 (<ipython-input-44-876812b864a2>, line 4)

In [ ]:
#Write a Python program to check a triangle is equilateral, isosceles or scalene. Note : An equilateral triangle is a triangle in which all three sides are equal.
#A scalene triangle is a triangle that has three unequal sides. An isosceles triangle is a triangle with (at least) two equal sides.

a=int(input())
b=int(input())
c=int(input())
if a==b:
    if b==c:
        print("An equilateral triangle")
    else:
        print("An isosceles triangle")
elif a==c:
    if c==b:
        print("An equilateral triangle")
    else:
        print("An isosceles triangle")
elif b==c:
    if c==a:
        print("An equilateral triangle")
    else:
        print("An isosceles triangle")
else:
  print("An scalene triangle")

3
4
5
An scalene triangle

In [ ]:
#Write a Python program to check a triangle is equilateral, isosceles or scalene. Note : An equilateral triangle is a triangle in which all three sides are equal.
#A scalene triangle is a triangle that has three unequal sides. An isosceles triangle is a triangle with (at least) two equal sides.
x = int(input())
y = int(input())
z = int(input())

if x == y == z:
        print("Equilateral triangle")
elif x==y or y==z or z==x:
        print("Isosceles triangle")
else:
        print("Scalene triangle")

5
6
7
Scalene triangle

In [ ]:
list1=list(input())
new_list=[]
n=int(input())
for i in range(0,len(list1)):
    new_list.append(list(i))
print(new_list)

1,2,3,4,5
2

TypeError: 'int' object is not iterable

In [ ]:
# Write a Python function to find the Max of three numbers.
def maximum(x,y,z):
    if x>y:
        if y>z:
          max_no = x
        elif z>x:
          max_no = z
    if y>x:
        if x>z:
          max_no = y
        elif z>y:
          max_no = z
    return max_no

x = int(input())
y = int(input())
z = int(input())
print("Maximum among three nos is ", maximum(x,y,z))

3
4
5
Maximum among three nos is  5

In [ ]:
# Write a Python function to find the Max of three numbers.
# Try to take list of numbers and fins maximum among them. use recurrsion function if necessary.
def max_of_two(x,y):
    if x>y:
       return x
    return y
def max_of_three(x,y,z):
     return max_of_two(x,max_of_two(y,z))

x = int(input())
y = int(input())
z = int(input())
print(max_of_three(x,y,z))

In [ ]:
def is_greater_than_one(n):
    return n > 1 and all(n % j for j in range(2, int(n ** 0.5) + 1))
n=int(input())
print(type(is_greater_than_one(n)))

7
<class 'bool'>

In [ ]:
# 2-D matrix
# Input for row and column
R = int(input())
C = int(input())

matrix = []

# for loop for row entries
for i in range(R):
	a =[]

	# for loop for column entries
	for j in range(C):
		a.append(int(input()))
	matrix.append(a)

print(matrix)

3
3
1
2
3
4
5
6
7
8
9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# 2-D matrix another method
# Input for row and column
R = int(input())
C = int(input())

# Using list comprehension for input
matrix = [[int(input()) for x in range (C)] for y in range(R)]

In [ ]:
#One-Liner : Loops through a list of words and returns a new list containing all elements that are present on the given string.
#To better explain the code I recommend you to open this A good use case for this code is as a basic profanity filter.
#Change the list into a list of vulgar words and use the one liner function to check all user input for vulgar words through this code.

# Code starts from here.

#: sample list
list = ['hello', 'welcome', 'guest', 'show']
#: sample string
sentence = "Hello world! I'm here to show you a word filter"

#: print all words in list that are present in sentence
print([word for word in list if word in ("".join(word for word in sentence.lower() if word.isalpha() or word.isnumeric() or word == " ")).split(" ")])

['hello', 'show']

In [ ]:
#star pattern
for i in range(0, 5):

		for j in range(0, i + 1):
			# printing stars
			print("* ", end ="")

		# ending line after each row
		print("\r")

*
* *
* * *
* * * *
* * * * *

In [ ]:
#oneliner for just above coding
n = 5

# one liner code for half pyramid pattern
print('\n'.join('* ' * i for i in range(1, n + 1)))

*
* *
* * *
* * * *
* * * * *

In [ ]:
#One-Liner : List comprehensions â€“ This is a concise way to create lists. Instead of doing it the usual way, we can make use of list comprehensions.
#For example, we want to create a list of even numbers till 11. The normal way of doing this is:
evenNumbers =[]
for x in range(11):
	if x % 2 == 0:
		evenNumbers.append(x)

print(evenNumbers)

[0, 2, 4, 6, 8, 10]

In [ ]:
evenNumbers =[x for x in range(11) if x % 2 == 0]
print(evenNumbers)

[0, 2, 4, 6, 8, 10]

In [ ]:
print([x for x in range(11) if x % 2 == 0])

[0, 2, 4, 6, 8, 10]

In [ ]:
#Write a Python program to find the string consisting of all the words whose lengths are prime numbers.
#Input:The quick brown fox jumps over the lazy dog.
#Output:The quick brown fox jumps the
def test(strs):
    return " ".join(strs for strs in strs.split() if is_prime(len(strs)))
def is_prime(n):
    return n > 1 and all(n % j for j in range(2, int(n ** 0.5) + 1))
strs = input()
print(test(strs))

The quick brown fox jumps over the lazy dog
The quick brown fox jumps the dog

In [ ]:
def printMax(a, b):
   if a > b:
      print(a, 'is maximum')
   elif a == b:
       print(a, 'is equal to', b)
   else:
        print(b, 'is maximum')
printMax(3, 4)

4 is maximum

In [ ]:
#In a job interview, Mihir was asked to find count of all contiguous substrings starting and ending with same character, for a given string S.
#After an interview, he wrote the recursive python program to check the answer.So, let's practice the same, and write a recursive python function.
#Example 1:
#Input:abcab
#Output:7
#Explanation:There are 15 substrings of "abcab" a, ab, abc, abca, abcab, b, bc, bca bcab, c, ca, cab, a, ab, b
#Out of the above substrings, there are 7 substrings : a, abca, b, bcab, c, a and b.
#Example 2:
#Input:aba
#Output:4
#Explanation:The substrings are a, b, a and aba

def countSubstrs(str, i, j, n):

    # base cases
    if (n == 1):
        return 1
    if (n <= 0):
        return 0

    res = (countSubstrs(str, i + 1, j, n - 1)
        + countSubstrs(str, i, j - 1, n - 1)
        - countSubstrs(str, i + 1, j - 1, n - 2))
    if (str[i] == str[j]):
        res += 1

    return res

# driver code
str = input()
n = len(str)
print(countSubstrs(str, 0, n - 1, n))

abcab
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
7

In [ ]:
pi

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.keys())

dict_keys(['a', 'b', 'c'])

In [ ]:
my_string = "hello world"
print(my_string[-5:-2])

wor

In [ ]:
x=list(range(3))
y=list(range(1,3))
z=list(range(1,7,2))
print(x,y,z)

[0, 1, 2] [1, 2] [1, 3, 5]

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 cherry

In [7]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]

# Create an empty dictionary to store the key-value pairs
my_dict = {}

# Use the zip() function to create key-value pairs from the names and scores lists
for name, score in zip(names, scores):
    # Update the dictionary with the key-value pair
    my_dict[name] = score

# Print the dictionary
print(my_dict)

# Print the key-value pairs in the dictionary
for name, score in my_dict.items():
    print(f"{name}: {score}")

{'Alice': 85, 'Bob': 92, 'Charlie': 78}
Alice: 85
Bob: 92
Charlie: 78

In [25]:
# Write your code here

nums = eval(input())
list_WO_None=[x for x in nums if x != None]
list_WO_None

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [28]:
list1=eval(input())
list2=eval(input())
list3 = [list1.remove(i) for i in list1 for j in list2 if i==j]
print(list3)

[1,2,3,4,5,6,7,8,9,10]
[2,4,6,8]
[None, None, None, None]

In [34]:
strng=input()
char_count={}
for x in strng:
   count=0
   for i in strng:
      if x==i:
         count+=1
   char_count.update({x:count})

print(char_count)

darshan
{'d': 1, 'a': 2, 'r': 1, 's': 1, 'h': 1, 'n': 1}

In [37]:
strng=input()
char_count={x:strng.count(x) for x in strng}
char_count

darshan

{'d': 1, 'a': 2, 'r': 1, 's': 1, 'h': 1, 'n': 1}

In [41]:
strng = input()
char_count = {}
for i in strng:
    char_count[i] = char_count.get(i, 0) + 1
print(char_count)

darshan
{'d': 1, 'a': 2, 'r': 1, 's': 1, 'h': 1, 'n': 1}

In [56]:
strng = input()
char_count = {}
char = { i:char_count char_count[i] + 1 if i in char_count  else char_count=1 for i in strng}
print(char)

SyntaxError: invalid syntax (<ipython-input-56-4ba10e278618>, line 3)

In [48]:
strng = input()
char_count = {}
char = {i: char_count[i] + 1 if i in char_count else 1 for i in strng}
print(char)

darshan
{'d': 1, 'a': 1, 'r': 1, 's': 1, 'h': 1, 'n': 1}

In [59]:
strng = input()
char_count = {}
char = {i:char_count char_count.get(i,0)+1 for i in strng}
print(char)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-59-1dcdb5e18234>, line 3)

In [50]:
example={1: 'apple', 2: 'banana', 3: 'cherry'}
example

{1: 'apple', 2: 'banana', 3: 'cherry'}